// COLORS
$text: #5B5766;
$text-2: #716C80;
$head: #554D89;
$btn: #6852ED;
$wh: #FFF;
$light: #E1E4ED;
$light-more: #f5f5f5;
$dark: #1f1f1f;
$yel: #e0cd1a;
// MEDIA
@mixin point($w) {
    @media only screen and (max-width: $w + 'px') {
        @content;
    }
}
//SCROLL BAR
*::-webkit-scrollbar {
    width: 7px;
}
*::-webkit-scrollbar-track {
    background: $yel; 
}
*::-webkit-scrollbar-thumb {
    background: $btn; 
}
*::-webkit-scrollbar-thumb:hover {
    background: $head; 
}